<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- makietan 日報 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3232296933961787"
     data-ad-slot="6505932942"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3232296933961787",
          enable_page_level_ads: true
     });
</script>
<!-- AMP -->
<script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
