<ul class="social-media-list">
  {%- assign twitter_name = site.twitter_username | default: site.twitter.username -%}
  {%- assign github_name = site.github_username | default: site.github.username -%}

  {%- if github_name -%}
  <li>
    <a href="https://github.com/{{ github_name | cgi_escape | escape }}" rel="me noopener noreferrer" target="_blank">
      <i class="fa-brands fa-github social-icon" aria-hidden="true"></i>
      <span class="username">{{ github_name | escape }}</span>
    </a>
  </li>
  {%- endif -%}

  {%- if twitter_name -%}
  <li>
    <a href="https://x.com/{{ twitter_name | cgi_escape | escape }}" rel="me noopener noreferrer" target="_blank">
      <i class="fa-brands fa-twitter social-icon" aria-hidden="true"></i>
      <span class="username">{{ twitter_name | escape }}</span>
    </a>
  </li>
  {%- endif -%}

  {%- if site.rss -%}
  <li>
    <a href="{{ '/feed.xml' | relative_url }}" target="_blank">
      <i class="fa-solid fa-rss social-icon" aria-hidden="true"></i>
      <span class="username">RSS</span>
    </a>
  </li>
  {%- endif -%}
</ul>