---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body, html {
  font-family: PT Sans,Helvetica Neue,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS PGothic,sans-serif;
}

span.post-categories a {
  text-decoration: none!important;
  border: 1px solid #d2d7e5;
  padding: .2em .5em;
  font-size: .75rem;
  margin: 0 .1em;
  display: inline-block;
  text-align: center;
  color: #3d3f44;
  overflow: hidden;
  background-color: transparent;
}
