---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body, html {
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", "Helvetica Neue", Arial, sans-serif; 
}

body {
  background-color: white;
  font-size: 16px;
}

h1 {
  margin-top: .67em;
} 
h2 {
  margin-top: .75em;
} 
h3 {
  margin-top: .83em;
} 
h4 {
  margin-top: 1.12em;
} 
h5 {
  margin-top: 1.5em;
} 
h6 {
  margin-top: 1.67em;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.site-header {
  background-color: white;
  color: #000000;
}

.site-nav {
  color: #000000;
  background-color: white;
}

.site-header a {
  color: #000000 !important;
  font-weight: bold;
}

.menu-icon svg {
  fill: #000000 !important;
}

hr {
  margin-top: 36px;
  margin-bottom: 36px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  border: 0;
}

span.post-categories-top {
  margin-left: .5em;
}

span.post-categories a {
  text-decoration: none!important;
  border: 1px solid #d2d7e5;
  padding: .2em .5em;
  font-size: .75rem;
  margin: 0 .1em;
  display: inline-block;
  text-align: center;
  color: #3d3f44;
  overflow: hidden;
  background-color: transparent;
}

div.trim {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.trim__item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.trim__item a {
  display: block;
  padding: 0;
  text-decoration: none;
}

img.one {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  border: 2px solid #333;
  margin: 10px 0px 20px 0px;
}

img.trim {
  overflow: hidden;
  width: 180px;
  height: 180px;
  position: relative;
}

@media screen and (max-width: 768px) {
  img.trim {
    overflow: hidden;
    width: 100vmin;
    height: 100vmin;
    position: relative;
    border: 5px solid #333;
    margin: 1px 0px 1px 0px;
  }
}

@media screen and (max-width: 568px) {
  img.trim {
    overflow: hidden;
    width: 100vmin;
    height: 100vmin;
    position: relative;
    border: 5px solid #333;
    margin: 1px 0px 1px 0px;
  }
}

// paginator v2

ul.pager {
  text-align: center;
  list-style: none;
}

ul.pager li {
  display: inline;
  padding: 10px;
  margin: 5px;
}

ul.pager li.num {
  display: inline;
  padding: 0px;
  margin: 0px;
}

ul.pager li.num em, ul.pager li.num a {
  padding: 0px;
  margin: 2px;
}

@media screen and (max-width: 568px) {
  ul.pager li.num em, ul.pager li.num a {
    padding: 0px;
    margin: 2px;
    display: none;
  }
}

// iframe

.google {
  position: relative;
  padding-top: 75%;
  height: 0;
  overflow: hidden;
  margin-bottom: 16px;
}
.google iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.amazon {
  text-align: center;
}

// Card Link

.card {
  background: #fefefe;
  position: relative;
  text-align: center;
  height: 120px;
  border: 1px solid #dedede;
  cursor: hand;
  cursor:pointer;
  margin-top: 24px;
  margin-bottom: 24px;
}

.card:hover {
  filter:alpha(opacity=70);
  opacity:0.7;
}

.card > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  cursor: hand;
  cursor:pointer;
  z-index: 1000;
}

.card__image {
  width: 120px;
  height: 120px;
  background-size: contain;
}

.card__image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.card__title {
  position: absolute;
  left: 128px;
  top: 18px;
  right: 8px;
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipse;
}

.card__title p {
  padding: 0;
  margin: 0;
}

.card__description {
  position: absolute;
  left: 128px;
  top: 64px;
  right: 8px;
  font-size: 10px;
  color: #888;
  text-align: left;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipse;
}

.card__description p {
  padding: 0;
  margin: 0;
}

.card__header {
  position: absolute;
  top: 2px;
  left: 128px;
  text-align: left;
  font-size: 8px;
}

.card__header a {
  position: relative;
  color: #aaa;
  text-decoration: none;
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.tooltip .description {
  display: none;
  position: absolute;
  padding: 5px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  white-space: nowrap;
}

.tooltip:hover .description {
  display: inline-block;
  top: -35px;
  left: 0;
  margin: auto;
}

.haiku {
  writing-mode: vertical-rl;
  margin: auto;
  padding-bottom: 64px;
  padding-top: 64px;
  line-height: 3.5em;
  font-size: x-large;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.haiku-button {
  margin: auto;
  text-align:center;
  padding-bottom: 64px;
}

.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;
  border-radius: .25rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-gray {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-gray:focus {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-gray:hover {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-gray:active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.readmore {
  cursor: pointer;
}

.readmore-content {
  margin: 8px;
  padding: 8px;
  border: dashed 1px #AAAAAA;
  display: none;
  color: #3d3f44;
}

.related-posts > .card {
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  height: 48px;
  background: #fdfdfd;
}

.related-posts > .card > .card__header {
  left: 8px;
}

.related-posts > .card > .card__title {
  height: 24px;
  left: 8px;
}

.related-posts > .card > .card__description {
  top: 0;
  height: 0;
  left: 0;
}

.excerpts {
  color: #2f485a
}

.gone {
    display: none;
}

table th.tj-asc:after {
  content: "▲";
}

table th.tj-desc:after {
  content: "▼";
}