<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {%- include head.html -%}
  {%- include twitter-card.html -%}
  {%- include fork-github.html -%}

  <link rel="icon" href="{{ site.url }}/assets/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/images/icon_144.png" />

  <body>

    {%- include header.html -%}

    {%- include fork-github-link.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
