---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <!-- <h1 class="page-heading">{{ page.title }}</h1> -->
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading">{{ page.list_title | default: "最新の投稿" }}</h2>
  <ul class="post-list">
  {%- if paginator.total_pages > 1 -%}
    <!-- ページ分割されたpostsに対してループ -->
    {% for post in paginator.posts %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      {%- if post.categories -%}
      <span class="post-categories-top">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
          <a href="{{site.url}}/categories/{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      {%- endif -%}
      </span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        <span class="excerpts">
        {{ post.content | strip_html | truncatewords:5 }}
        </span>
      {%- endif -%}
    </li>
    {% endfor %}
  {%- else -%}
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  {%- endif -%}
  </ul>

  {% if paginator.total_pages > 1 %}

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

  {% endif %}

</div>
